In [3]:
SELECT * FROM instacaio_post;

   id       autor                                               imagem                       mensagem
0   1  fwaddsfesg                                                          wfadgesg rdg dhfdg seg sdg
1   2        Caio                                                             Essa é uma foto da foto
2   3        Caio  posts/premium_photo-1731442837021-3929f70e1710.jfif  Nova tentativa de enviar foto